*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f7fa;
    color:#333;
    padding-top: 80px;

}
/* Navigation Bar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#0077b6;
    padding:15px 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

.logo{
    display:flex;
    align-items:center;
}

.logo i{
    color:white;
    font-size:35px;
    margin-right:10px;
}

.logo h2{
    color:white;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin:0 15px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

.nav-links a:hover{
    color:yellow;
}

.login-btn{
    text-decoration:none;
    background:white;
    color:#0077b6;
    padding:10px 20px;
    border-radius:5px;
    font-weight:bold;
}

.login-btn:hover{
    background:#caf0f8;
}
/* Hero Section */

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,119,182,0.6),rgba(0,119,182,0.6)),
    url('https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?auto=format&fit=crop&w=1600&q=80');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-content{
    color:white;
    width:70%;
}

.hero-content h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:22px;
    line-height:1.8;
    margin-bottom:35px;
}

.btn-primary,
.btn-secondary{

    text-decoration:none;
    padding:15px 30px;
    margin:10px;
    border-radius:5px;
    font-weight:bold;
}

.btn-primary{

    background:#00b4d8;
    color:white;

}

.btn-secondary{

    background:white;
    color:#0077b6;

}

.btn-primary:hover{

    background:#0096c7;

}

.btn-secondary:hover{

    background:#caf0f8;

}
/* About Section */

.about{
    padding:80px 10%;
    background:white;
}

.about-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
}

.about-image{
    flex:1;
}

.about-image img{
    width:100%;
    border-radius:15px;
}

.about-content{
    flex:1;
}

.about-content h2{
    font-size:38px;
    color:#0077b6;
    margin-bottom:20px;
}

.about-content p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:20px;
}

.about-content ul{
    list-style:none;
    margin-bottom:30px;
}

.about-content ul li{
    margin:10px 0;
    font-size:18px;
}

.about-btn{
    text-decoration:none;
    background:#0077b6;
    color:white;
    padding:12px 25px;
    border-radius:5px;
    font-weight:bold;
}

.about-btn:hover{
    background:#005f8f;
}
/* Services Section */

.services{
    background:#f5f7fa;
    padding:80px 8%;
    text-align:center;
}

.services h2{
    font-size:40px;
    color:#0077b6;
    margin-bottom:50px;
}

.service-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.service-card{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.service-card:hover{
    transform:translateY(-10px);
}

.service-card i{
    font-size:45px;
    color:#0077b6;
    margin-bottom:20px;
}

.service-card h3{
    margin-bottom:15px;
}

.service-card p{
    line-height:1.6;
}
/* Doctors Section */

.doctors{
    padding:80px 8%;
    background:white;
    text-align:center;
}

.doctors h2{
    font-size:40px;
    color:#0077b6;
    margin-bottom:50px;
}

.doctor-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.doctor-card{
    background:#f5f7fa;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.doctor-card:hover{
    transform:translateY(-10px);
}

.doctor-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.doctor-card h3{
    margin-top:20px;
}

.doctor-card p{
    color:#0077b6;
    margin:15px 0 25px;
}
.statistics{
    background:#0d6efd;
    color:white;
    padding:70px 10%;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    text-align:center;
}

.stat-box{
    margin:20px;
}

.stat-box h2{
    font-size:50px;
}

.stat-box p{
    font-size:20px;
}
.why{
    padding:80px 10%;
    text-align:center;
}

.why h2{
    font-size:42px;
    color:#0d6efd;
    margin-bottom:50px;
}

.why-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.why-card{
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.why-card i{
    font-size:45px;
    color:#0d6efd;
    margin-bottom:20px;
}
.testimonials{
    background:#f4f7fb;
    padding:80px 10%;
    text-align:center;
}

.testimonial-container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:center;
}

.testimonial{
    width:300px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}
footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:40px;
}

footer h2{
    margin-bottom:15px;
}

footer p{
    margin:10px 0;
}